@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");

.App {
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
  margin: auto;
  padding: 2rem 2rem;
  border: 5px solid black;
  width: 50%;
  height: 80%;
}

input {
  width: 50%;
  padding: 1rem;
}
